body {
  background-color: powderblue;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
h1 {
  color: blue;
  font-size: 80%;
  border: 2px solid powderblue;
  padding: 30px;
  text-align: center;
  font-weight: bold;
  line-height: normal;
  font-family: 'Goudy Bookletter 1911', sans-serif;
}
